In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import pandas as pd

In [2]:
# Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///USEnergy.sqlite")

In [3]:
# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [4]:
# Print all of the classes mapped to the Base
print(Base.classes.keys())

[]

In [5]:
# Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
inspector.get_table_names()

['AK Generation',
 'AL Generation',
 'AR Generation',
 'AZ Generation',
 'Average Energy Prices',
 'CA Generation',
 'CO Generation',
 'CT Generation',
 'DC Generation',
 'DE Generation',
 'Electric Power Consumption',
 'End User Consumption',
 'FL Generation',
 'GA Generation',
 'IA Generation',
 'ID Generation',
 'IL Generation',
 'IN Generation',
 'KS Generation',
 'KY Generation',
 'LA Generation',
 'MA Generation',
 'MD Generation',
 'ME Generation',
 'MI Generation',
 'MN Generation',
 'MO Generation',
 'MS Generation',
 'MT Generation',
 'NC Generation',
 'ND Generation',
 'NE Generation',
 'NH Generation',
 'NJ Generation',
 'NM Generation',
 'NV Generation',
 'NY Generation',
 'OH Generation',
 'OK Generation',
 'OR Generation',
 'PA Generation',
 'RI Generation',
 'SC Generation',
 'SD Generation',
 'TN Generation',
 'TX Generation',
 'UT Generation',
 'VA Generation',
 'VT Generation',
 'WA Generation',
 'WI Generation',
 'WV Generation',
 'WY Generation']

In [6]:
columns = inspector.get_columns('Average Energy Prices')    
states = []
for column in columns:
    states.append(column["name"])
print(states)

['index', 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [7]:
year = 2018
prices = pd.read_sql_query("SELECT * from 'Average Energy Prices'",con = engine)
#prices.rename(columns = {"index": "Years"},  
          #inplace = True) 
year_df = prices.loc[prices['index'] == str(year)]
year_df

,index,AL,AK,AZ,AR,CA,CO,CT,DC,DE,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
1,2018,9.63,19.36,10.85,7.78,16.58,10.02,18.41,12.03,10.55,...,9.97,9.58,8.48,8.21,15.13,9.48,8,8.72,10.58,8.09

In [8]:
state = "AL"
prices = pd.read_sql_query("SELECT * from 'Average Energy Prices'",con = engine)
prices.set_index("index",inplace =True)
state_df = prices.loc[:,state]
state_df

index
2019    9.88
2018    9.63
2017    9.83
2016    9.56
2015    9.33
2014    9.27
2013    9.02
2012    9.18
2011    9.10
2010    8.89
2009    8.83
2008    8.59
2007    7.57
2006    7.07
2005    6.46
2004    6.08
2003    5.88
2002    5.71
2001    5.60
Name: AL, dtype: float64

In [33]:
total_df = pd.read_sql_query("SELECT * from 'End User Consumption'",con = engine)
total_df.set_index("index",inplace=True)
df=total_df.T
df["Coal"] = list(map(lambda x: x[1:-2], df["Coal"].values))
df['Coal'] = pd.to_numeric(df.Coal)
df["Naturalgas"] = list(map(lambda x: x[1:-2], df["Naturalgas"].values))
df['Naturalgas'] = pd.to_numeric(df.Naturalgas)
df["Petroleum"] = list(map(lambda x: x[1:-2], df["Petroleum"].values))
df['Petroleum'] = pd.to_numeric(df.Petroleum)
df["Renewableenergy"] = list(map(lambda x: x[1:-2], df["Renewableenergy"].values))
df['Renewableenergy'] = pd.to_numeric(df.Renewableenergy)
df["Electricity"] = list(map(lambda x: x[1:-2], df["Electricity"].values))
df['Electricity'] = pd.to_numeric(df.Electricity)

df

index  Coal  Naturalgas  Petroleum  Renewableenergy  Electricity
AL      4.3        23.3       38.9             11.6         21.9
AK      1.2        55.8       37.8              1.6          3.5
AZ      0.7        10.7       58.0              3.3         27.4
AR      0.5        26.2       43.0              9.3         21.0
CA      0.5        24.7       57.7              3.4         13.7
CO      0.3        34.2       46.1              2.3         17.0
CT      0.0        25.0       55.3              2.9         16.8
DC      0.0        35.0       21.6              1.7         41.6
DE      0.0        28.5       51.8              1.1         18.6
FL      0.4         7.3       59.4              5.1         27.7
GA      0.4        19.0       46.5              9.9         24.2
HI      0.0         1.3       78.7              6.5         13.4
ID      0.7        22.8       46.7              9.7         20.1
IL      2.8        33.7       43.6              3.5         16.4
IN      7.6        33.3       37.2              4.7         17.2
IA      3.5        32.0       33.2             18.0         13.3
KS      0.3        35.2       43.1              4.1         17.3
KY      1.7        20.2       52.8              3.2         22.1
LA      0.1        40.1       48.4              3.1          8.3
ME      0.2        10.2       53.8             23.1         12.7
MD      1.3        22.8       50.5              2.6         22.8
MA      0.0        28.2       52.1              3.4         16.3
MI      2.5        34.2       41.4              5.6         16.4
MN      1.4        30.8       43.0              8.7         16.2
MS      0.0        23.1       52.3              6.0         18.6
MO      1.5        21.2       51.3              3.4         22.5
MT      1.3        25.9       51.7              5.7         15.4
NE      3.0        27.4       36.8             17.4         15.4
NV      1.3        19.8       52.0              2.2         24.7
NH      0.0        11.9       65.0              7.8         15.3
NJ      0.0        28.6       55.0              1.7         14.7
NM      0.3        32.7       49.2              2.8         15.0
NY      0.3        32.7       46.5              3.2         17.3
NC      0.7        15.2       51.1              5.4         27.6
ND     18.6        24.5       38.0              5.3         13.7
OH      4.2        31.9       41.7              3.1         19.1
OK      0.5        38.4       42.2              2.2         16.7
OR      0.2        19.2       48.0              9.8         22.9
PA      5.9        32.0       41.5              3.6         17.0
RI      0.0        28.3       54.1              1.6         16.0
SC      0.5        14.6       50.8              8.3         25.7
SD      1.0        27.3       38.1             19.6         14.0
TN      2.4        19.8       49.4              5.2         23.2
TX      0.1        24.8       61.7              0.9         12.5
UT      1.4        30.2       49.9              1.5         16.9
VT      0.0        10.8       60.0             14.8         14.3
VA      2.7        18.0       49.4              5.2         24.7
WA      0.1        16.7       55.2              7.5         20.5
WV      4.7        35.3       37.6              3.1         19.2
WI      1.5        31.2       40.9              8.9         17.5
WY      7.3        39.9       38.2              1.3         13.3

In [36]:
total_df = pd.read_sql_query("SELECT * from 'Electric Power Consumption'",con = engine)
total_df.set_index("index",inplace=True)
df=total_df.T
df["Coal"] = list(map(lambda x: x[1:-2], df["Coal"].values))
df['Coal'] = pd.to_numeric(df.Coal)
df["Naturalgas"] = list(map(lambda x: x[1:-2], df["Naturalgas"].values))
df['Naturalgas'] = pd.to_numeric(df.Naturalgas)
df["Petroleum"] = list(map(lambda x: x[1:-2], df["Petroleum"].values))
df['Petroleum'] = pd.to_numeric(df.Petroleum)
df["Renewableenergy"] = list(map(lambda x: x[1:-2], df["Renewableenergy"].values))
df['Renewableenergy'] = pd.to_numeric(df.Renewableenergy)
df["Nuclearpower"] = list(map(lambda x: x[1:-2], df["Nuclearpower"].values))
df['Nuclearpower'] = pd.to_numeric(df.Nuclearpower)

df

index  Coal  Naturalgas  Petroleum  Renewableenergy  Nuclearpower
AL     24.7        34.6        0.1              8.4          32.2
AK     18.7        45.6        8.7             26.9           0.0
AZ     30.5        27.8        0.1             11.1          30.5
AR     48.3        25.1        0.1              5.2          21.4
CA      0.0        39.4        0.0             48.7          11.8
CO     52.3        25.8        0.0             21.8           0.0
CT      1.2        40.8        0.9              5.5          51.5
DC      0.0         0.0        0.0              0.0           0.0
DE      9.6        83.9        4.4              2.1           0.0
FL     15.6        64.0        1.1              4.3          15.1
GA     29.1        33.7        0.2              5.5          31.5
HI     16.0         0.0       72.6             11.3           0.0
ID      0.0        15.4        0.0             84.6           0.0
IL     32.6         7.5        0.0              6.1          53.8
IN     75.7        18.8        0.1              5.4           0.0
IA     47.6         8.7        0.1             34.9           8.7
KS     43.0         5.6        0.1             33.0          18.3
KY     79.8        14.8        0.1              5.3           0.0
LA     19.7        45.4        6.9              1.8          26.3
ME      1.7        15.1        2.1             81.1           0.0
MD     27.0        24.4        0.8             10.1          37.7
MA      0.0        60.0        2.0             17.8          20.2
MI     39.7        23.3        1.4              7.7          27.9
MN     40.6        11.3        0.1             22.4          25.6
MS     11.7        73.6        0.1              0.6          14.1
MO     75.3         7.5        0.1              4.1          12.9
MT     52.0         1.9        2.5             43.5           0.0
NE     64.7         2.6        0.1             17.0          15.6
NV      8.5        62.8        0.0             28.6           0.0
NH      4.5        12.8        1.0             20.9          60.8
NJ      2.5        44.1        0.2              3.1          50.0
NM     44.0        33.3        0.1             22.7           0.0
NY      0.6        34.6        1.2             27.4          36.3
NC     25.2        27.4        0.6             11.2          35.5
ND     69.3         2.3        0.1             28.2           0.0
OH     51.2        28.9        1.5              2.1          16.2
OK     21.6        43.0        0.0             35.3           0.0
OR      2.8        23.6        0.0             73.5           0.0
PA     23.3        27.8        0.4              4.9          43.5
RI      0.0        93.1        1.0              5.9           0.0
SC     20.4        18.2        0.3              4.9          56.2
SD     21.0         8.4        0.1             70.6           0.0
TN     27.1        13.0        0.2             12.1          47.6
TX     29.2        41.9        0.0             18.2          10.7
UT     71.7        17.1        0.1             11.1           0.0
VT      0.0         0.0        0.2             99.8           0.0
VA     12.4        43.8        1.1              6.9          35.8
WA      5.6         7.9        0.0             76.9           9.6
WV     94.1         1.7        0.2              4.0           0.0
WI     54.2        20.9        0.3              7.8          16.8
WY     89.8         0.4        0.1              9.7           0.0