In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import pandas as pd

In [2]:
# Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///USEnergy.sqlite")

In [3]:
# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [4]:
# Print all of the classes mapped to the Base
print(Base.classes.keys())

[]

In [39]:
# Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
tables = inspector.get_table_names()
print(tables)

['AK Generation', 'AL Generation', 'AR Generation', 'AZ Generation', 'Average Energy Prices', 'CA Generation', 'CO Generation', 'CT Generation', 'DC Generation', 'DE Generation', 'Electric Power Consumption', 'End User Consumption', 'FL Generation', 'GA Generation', 'IA Generation', 'ID Generation', 'IL Generation', 'IN Generation', 'KS Generation', 'KY Generation', 'LA Generation', 'MA Generation', 'MD Generation', 'ME Generation', 'MI Generation', 'MN Generation', 'MO Generation', 'MS Generation', 'MT Generation', 'NC Generation', 'ND Generation', 'NE Generation', 'NH Generation', 'NJ Generation', 'NM Generation', 'NV Generation', 'NY Generation', 'OH Generation', 'OK Generation', 'OR Generation', 'PA Generation', 'RI Generation', 'SC Generation', 'SD Generation', 'TN Generation', 'TX Generation', 'UT Generation', 'VA Generation', 'VT Generation', 'WA Generation', 'WI Generation', 'WV Generation', 'WY Generation']

In [45]:
state= "AL"
tables=pd.read_sql_query(f"SELECT * from '{state} Generation'", con=engine) #State Initials to display table.
tables.set_index("index",inplace = True)
print(tables)

       Natural Gas         Coal  Petroleum Liquids  Petroleum Coke  \
index
2001    9612.68200  72198.11400          434.54900               0
2002   15904.06500  72041.66400          312.04800               0
2003   12243.59800  76696.39100          336.64400               0
2004   15977.01923  74831.62435          295.02495               0
2005   13869.45085  78128.45747          333.11034               0
2006   19407.22170  78108.66818          180.16601               0
2007   23231.77629  77993.76036          156.92188               0
2008   22362.91875  74604.64796          204.26488               0
2009   31617.08268  55608.72382          219.27368               0
2010   39235.01714  63050.41062          199.85355               0
2011   47681.05394  56807.35302          120.38403               0
2012   55705.00044  45606.91978          109.58316               0
2013   46586.38525  47050.48393           74.13097               0
2014   48270.07438  47301.62625           98.09998               0
2015   55844.45670  41410.42949           84.20802               0
2016   57803.61849  34258.40552           45.83237               0
2017   52983.66286  31440.40111           35.70787               0
2018   58800.41864  31777.52001           65.70354               0
2019   56628.34875  26694.35624           19.06368               0

       Other Gasses  Nuclear  Hydroelectric  Wind  \
index
2001              0        0              0     0
2002              0        0              0     0
2003              0        0              0     0
2004              0        0              0     0
2005              0        0              0     0
2006              0        0              0     0
2007              0        0              0     0
2008              0        0              0     0
2009              0        0              0     0
2010              0        0              0     0
2011              0        0              0     0
2012              0        0              0     0
2013              0        0              0     0
2014              0        0              0     0
2015              0        0              0     0
2016              0        0              0     0
2017              0        0              0     0
2018              0        0              0     0
2019              0        0              0     0

       Wood and Wood Derived Fuels  Other Biomass  Geothermal  \
index
2001                             0              0           0
2002                             0              0           0
2003                             0              0           0
2004                             0              0           0
2005                             0              0           0
2006                             0              0           0
2007                             0              0           0
2008                             0              0           0
2009                             0              0           0
2010                             0              0           0
2011                             0              0           0
2012                             0              0           0
2013                             0              0           0
2014                             0              0           0
2015                             0              0           0
2016                             0              0           0
2017                             0              0           0
2018                             0              0           0
2019                             0              0           0

       All Other Renewables  All Solar  Other  Utility Scale Thermal  \
index
2001                      0          0      0                      0
2002                      0          0      0                      0
2003                      0          0      0                      0
2004                      0          0      0                      0
2005                      0          0      0                      0
2006                      0          0      0                      0
2007                      0          0      0                      0
2008                      0          0      0                      0
2009                      0          0      0                      0
2010                      0          0      0                      0
2011                      0          0      0                      0
2012                      0          0      0                      0
2013                      0          0      0                      0
2014                      0          0      0                      0
2015                      0          0      0                      0
2016                      0          0      0                      0
2017                      0          0      0                      0
2018                      0          0      0                      0
2019                      0          0      0                      0

       Hydroelectic Pumped Storage
index
2001                             0
2002                             0
2003                             0
2004                             0
2005                             0
2006                             0
2007                             0
2008                             0
2009                             0
2010                             0
2011                             0
2012                             0
2013                             0
2014                             0
2015                             0
2016                             0
2017                             0
2018                             0
2019                             0

In [6]:
columns = inspector.get_columns('Average Energy Prices')    
states = []
for column in columns:
    states.append(column["name"])
print(states)

['index', 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [7]:
year = 2018
prices = pd.read_sql_query("SELECT * from 'Average Energy Prices'",con = engine)
#prices.rename(columns = {"index": "Years"},  
          #inplace = True) 
year_df = prices.loc[prices['index'] == str(year)]
year_df

,index,AL,AK,AZ,AR,CA,CO,CT,DC,DE,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
1,2018,9.63,19.36,10.85,7.78,16.58,10.02,18.41,12.03,10.55,...,9.97,9.58,8.48,8.21,15.13,9.48,8,8.72,10.58,8.09

In [8]:
state = "AL"
prices = pd.read_sql_query("SELECT * from 'Average Energy Prices'",con = engine)
prices.set_index("index",inplace =True)
state_df = prices.loc[:,state]
state_df

index
2019    9.88
2018    9.63
2017    9.83
2016    9.56
2015    9.33
2014    9.27
2013    9.02
2012    9.18
2011    9.10
2010    8.89
2009    8.83
2008    8.59
2007    7.57
2006    7.07
2005    6.46
2004    6.08
2003    5.88
2002    5.71
2001    5.60
Name: AL, dtype: float64

In [38]:
total_df = pd.read_sql_query("SELECT * from 'End User Consumption'",con = engine)
total_df.set_index("index",inplace=True)
df=total_df.T
df["Coal"] = list(map(lambda x: x[1:-2], df["Coal"].values))
df['Coal'] = pd.to_numeric(df.Coal)
df["Naturalgas"] = list(map(lambda x: x[1:-2], df["Naturalgas"].values))
df['Naturalgas'] = pd.to_numeric(df.Naturalgas)
df["Petroleum"] = list(map(lambda x: x[1:-2], df["Petroleum"].values))
df['Petroleum'] = pd.to_numeric(df.Petroleum)
df["Renewableenergy"] = list(map(lambda x: x[1:-2], df["Renewableenergy"].values))
df['Renewableenergy'] = pd.to_numeric(df.Renewableenergy)
df["Electricity"] = list(map(lambda x: x[1:-2], df["Electricity"].values))
df['Electricity'] = pd.to_numeric(df.Electricity)

df.head()

index  Coal  Naturalgas  Petroleum  Renewableenergy  Electricity
AL      4.3        23.3       38.9             11.6         21.9
AK      1.2        55.8       37.8              1.6          3.5
AZ      0.7        10.7       58.0              3.3         27.4
AR      0.5        26.2       43.0              9.3         21.0
CA      0.5        24.7       57.7              3.4         13.7

In [37]:
total_df = pd.read_sql_query("SELECT * from 'Electric Power Consumption'",con = engine)
total_df.set_index("index",inplace=True)
df=total_df.T
df["Coal"] = list(map(lambda x: x[1:-2], df["Coal"].values))
df['Coal'] = pd.to_numeric(df.Coal)
df["Naturalgas"] = list(map(lambda x: x[1:-2], df["Naturalgas"].values))
df['Naturalgas'] = pd.to_numeric(df.Naturalgas)
df["Petroleum"] = list(map(lambda x: x[1:-2], df["Petroleum"].values))
df['Petroleum'] = pd.to_numeric(df.Petroleum)
df["Renewableenergy"] = list(map(lambda x: x[1:-2], df["Renewableenergy"].values))
df['Renewableenergy'] = pd.to_numeric(df.Renewableenergy)
df["Nuclearpower"] = list(map(lambda x: x[1:-2], df["Nuclearpower"].values))
df['Nuclearpower'] = pd.to_numeric(df.Nuclearpower)

df.head()

index  Coal  Naturalgas  Petroleum  Renewableenergy  Nuclearpower
AL     24.7        34.6        0.1              8.4          32.2
AK     18.7        45.6        8.7             26.9           0.0
AZ     30.5        27.8        0.1             11.1          30.5
AR     48.3        25.1        0.1              5.2          21.4
CA      0.0        39.4        0.0             48.7          11.8