In [1]:
#Api dependencies
import json
import requests 

#Json dependencies
from pprint import pprint

#API key
from DriversConfig.config import API_KEY

#DataFrame dependencies
import pandas as pd 

#Webscrapping 
from bs4 import BeautifulSoup as bs
from selenium import webdriver

#Random crap
import time

#Settings for headless mode.
options = webdriver.ChromeOptions()
options.add_argument('headless')

#path to the driver and load the options.
browser = webdriver.Chrome("/Users/Sebastian/Documents/GitHub/Data Visualization Bootcamp/Sebastian Homework/Group Project2 - ProjectEnergy/Sebastian/DriversConfig/chromedriver",chrome_options = options)

#=================================================To unpickle file and open DataFrame: =========================================================================
#open_df = pd.read_pickle('Output Files/averageCombinedPrices.pkl')

In [2]:
#Lower 48 list.
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

# Prices 

- Data is very structured, SQL can be a good idea here

In [3]:
#API key from config file.
api_key = API_KEY

#Empty dataframe to store the data 
price_df = pd.DataFrame(columns = states)

#for state in states.
for state in states:

    #query each state. ALL = average combined rates, A = Annual. --> we can get more specific and get Residential, bussiness, etc. 
    priceQuery = f"ELEC.PRICE.{state}-ALL.A"

    #Api url.
    url = f"http://api.eia.gov/series/?api_key={API_KEY}&series_id={priceQuery}"

    #Api reqeust. 
    statePriceRequest = requests.get(url)

    #Pulls list of list of with the information of prices and yaer.
    yearPricesList = statePriceRequest.json()['series'][0]['data']
    
    #Parse through the list and build DataFrame.
    for priceYear in yearPricesList:

        price_df.loc[priceYear[0],state] = priceYear[1]

#Fomat as DataFrame. 
price_df.to_pickle("Output Files/averageCombinedPrices.pkl")

price_df

,AL,AK,AZ,AR,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
2019,9.88,20.43,10.64,8.13,17.04,10.02,18.75,12.14,10.64,10.7,...,9.93,9.75,8.8,8.32,15.34,9.53,8.06,8.4,11.04,8.12
2018,9.63,19.36,10.85,7.78,16.58,10.02,18.41,12.03,10.55,10.32,...,9.97,9.58,8.48,8.21,15.13,9.48,8,8.72,10.58,8.09
2017,9.83,19.1,10.64,8.26,16.06,9.99,17.55,11.8,10.9,10.42,...,10.05,9.45,8.38,8.6,14.6,9.18,7.94,9,10.76,8.28
2016,9.56,17.93,10.33,8.13,15.23,9.83,17.24,11.73,11.09,9.91,...,9.83,9.23,8.43,8.72,14.46,9.09,7.68,8.98,10.67,8.19
2015,9.33,17.59,10.34,8.19,15.42,9.94,17.77,12.07,11.17,10.49,...,9.47,9.3,8.7,8.54,14.41,9.31,7.4,8.11,10.73,7.97
2014,9.27,17.46,10.18,7.9,15.15,10.06,17.05,12.11,11.22,10.77,...,9.05,9.4,8.94,8.35,14.57,9.17,7.13,7.65,10.57,7.76
2013,9.02,16.49,10.14,7.93,14.3,9.88,15.66,11.85,10.9,10.22,...,8.86,9.13,8.66,8.15,14.61,8.96,7.09,7.91,10.51,7.55
2012,9.18,16.33,9.81,7.62,13.53,9.39,15.54,11.85,11.06,10.44,...,8.49,9.27,8.55,7.84,14.22,9.07,6.94,8.14,10.28,7.19
2011,9.1,16.08,9.71,7.43,13.05,9.39,16.35,12.81,11.48,10.61,...,8.05,9.28,9,7.13,13.8,8.84,6.78,7.88,10.21,6.58
2010,8.89,14.76,9.69,7.28,13.01,9.15,17.38,13.35,11.97,10.58,...,7.82,8.61,9.34,6.94,13.24,8.69,6.66,7.45,9.78,6.2
2009,8.83,15.09,9.56,7.57,13.24,8.31,18.07,13.23,12.2,11.49,...,7.39,8.69,9.86,6.77,12.75,8.93,6.59,6.65,9.38,6.08
2008,8.59,14.74,9.11,7.6,12.49,8.59,17.8,13.18,12.38,10.74,...,7.14,8.18,10.99,6.49,12.33,8,6.55,5.61,9,5.67
2007,7.57,13.28,8.54,6.96,12.8,7.76,16.45,11.79,11.35,10.33,...,6.89,7.07,10.11,6.41,12.04,7.12,6.37,5.34,8.48,5.29
2006,7.07,12.84,8.24,6.99,12.82,7.61,14.83,11.08,10.13,10.45,...,6.7,6.97,10.34,5.99,11.37,6.86,6.14,5.04,8.13,5.27
2005,6.46,11.72,7.79,6.3,11.63,7.64,12.06,9.18,7.76,8.76,...,6.6,6.31,9.14,5.92,10.95,6.64,5.87,5.15,7.48,5.16
2004,6.08,10.99,7.45,5.67,11.35,6.95,10.26,7.47,7.53,8.16,...,6.44,6.14,7.95,5.69,11.02,6.43,5.8,5.13,6.88,4.98
2003,5.88,10.5,7.34,5.57,11.78,6.77,10.16,7.4,6.96,7.72,...,6.35,5.84,7.5,5.41,10.98,6.27,5.86,5.13,6.64,4.76
2002,5.71,10.46,7.21,5.61,12.19,6,9.71,7.34,6.91,7.31,...,6.26,5.72,6.62,5.39,10.87,6.23,5.88,5.11,6.28,4.68
2001,5.6,10.54,7.27,6.05,11.22,6.02,9.62,7.4,6.8,7.67,...,6.35,5.59,7.38,5.21,10.86,6.18,5.34,5.07,6.08,4.46

# Energy Generation

- Data is very unstructured, we might have to use NoSQL (Mongo_dB)


<img src="images/2019 US Energy Distribution.png">

In [4]:
#Dictionary to build.
energySources_dict = {}

#list of the US Energy Sources by EIA.
energySources = {"Natural Gas" : "NG",
                "Coal" : "COW",
                "Petroleum Liquids" : "PEL", 
                "Petroleum Coke" : "PC", 
                "Other Gasses": "OOG",
                "Nuclear" : "NUC",
                "Hydroelectric" : 'HYC',
                "Wind" : "WND",
                'Wood and Wood Derived Fuels' : 'WWW',
                'Other Biomass' : 'WAS',
                'Geothermal' : 'GEO',
                'All Other Renewables' : "AOR",
                "All Solar": 'TSN',
                'Other' : 'OTH',
                'Utility Scale Thermal' : 'STH',
                'Hydroelectic Pumped Storage' : 'HPS'
                }

#For state in states
for state in states:
    
    try:
        #For every statem loop each energy source.
        for energySourceKey, energySourceValue in zip(energySources.keys(), energySources.values()):
            
            #builds api query.
            priceQuery = f"ELEC.GEN.{energySourceValue}-{state}-99.A"
            
            #API url
            url = f"http://api.eia.gov/series/?api_key={API_KEY}&series_id={priceQuery}"

            #Api reqeust. 
            energySourceRequest = requests.get(url, allow_redirects = False) 

            #Extracts the year-energy liss
            energySourceList = energySourceRequest.json()['series'][0]['data']

            #builds the state keys.
            if state not in energySources_dict.keys():
                energySources_dict[state] = {}

            #builds the energy source keys by year and energy production by source.
            if energySourceKey not in energySources_dict[state].keys():
                energySources_dict[state][energySourceKey] = {}
                energySources_dict[state][energySourceKey]['Year'] = []
                energySources_dict[state][energySourceKey]['K Megawatthours'] = []
                
            #builds the list for the years
            [energySources_dict[state][energySourceKey]['Year'].append(i[0]) for i in energySourceList]

            #Builds list for the values of each year.
            [energySources_dict[state][energySourceKey]['K Megawatthours'].append(i[1]) for i in energySourceList]
    
    #if energy surce is not found.
    except KeyError as K:
        print(f'{K}. {energySourceKey} not found in {state}.')

        time.sleep(5)

#Builds json file.
app_json = json.dumps(energySources_dict, indent = 2, sort_keys=True)

#Saves json file 
with open('Output Files/USAEnergySources.json', 'w') as output:
    json.dump(app_json,output)
output.close()

print('Done!')

'series'. Petroleum Coke not found in AL.
'series'. Petroleum Coke not found in AK.
'series'. Petroleum Coke not found in AZ.
'series'. Other Gasses not found in AR.
'series'. Petroleum Coke not found in CO.
'series'. Petroleum Coke not found in CT.
'series'. Coal not found in DC.
'series'. Nuclear not found in DE.
'series'. Geothermal not found in FL.
'series'. Other Gasses not found in GA.
'series'. Natural Gas not found in HI.
'series'. Petroleum Coke not found in ID.
'series'. Geothermal not found in IL.
'series'. Nuclear not found in IN.
'series'. Other Gasses not found in IA.
'series'. Other Gasses not found in KS.
'series'. Nuclear not found in KY.
'series'. Wind not found in LA.
'series'. Petroleum Coke not found in ME.
'series'. Petroleum Coke not found in MD.
'series'. Petroleum Coke not found in MA.
'series'. Geothermal not found in MI.
'series'. Geothermal not found in MN.
'series'. Petroleum Coke not found in MS.
'series'. Geothermal not found in MO.
'series'. Nuclear not found in MT.
'series'. Petroleum Coke not found in NE.
'series'. Petroleum Coke not found in NV.
'series'. Petroleum Coke not found in NH.
'series'. Wood and Wood Derived Fuels not found in NJ.
'series'. Petroleum Coke not found in NM.
'series'. Geothermal not found in NY.
'series'. Petroleum Coke not found in NC.
'series'. Petroleum Coke not found in ND.
'series'. Geothermal not found in OH.
'series'. Nuclear not found in OK.
'series'. Petroleum Coke not found in OR.
'series'. Geothermal not found in PA.
'series'. Coal not found in RI.
'series'. Wind not found in SC.
'series'. Petroleum Coke not found in SD.
'series'. Petroleum Coke not found in TN.
'series'. Geothermal not found in TX.
'series'. Petroleum Coke not found in UT.
'series'. Coal not found in VT.
'series'. Petroleum Coke not found in VA.
'series'. Petroleum Coke not found in WA.
'series'. Petroleum Coke not found in WV.
'series'. Geothermal not found in WI.
'series'. Petroleum Coke not found in WY.
save!
Done!

# Energy Consumption by State

<img src="images/Energy Classification.png">

In [32]:
#Empty dataframe to store the data 
EndUseCosumption_df = pd.DataFrame(columns = states)

for state in states:

    #URL to scrape
    url = f"https://www.eia.gov/beta/states/states/{state}/overview"

    #Open url.
    browser.get(url)

    #Time to let the website load all the elements
    time.sleep(4)

    #save the html source.
    html = browser.page_source

    #Use bs4 to parse the html response.
    soup = bs(html, "html.parser")

    #List of classes to parse 
    parseClasses = ["info-coal","info-natural-gas","info-petroleum","info-renewable",'info-electricity'] 

    for parseClass in parseClasses:

        yummySoup = soup.find_all("li", class_={parseClass})[0].text.split()

        typeEnergy = yummySoup[0]

        marketShare = yummySoup[2]

        EndUseCosumption_df.loc[typeEnergy,state] = marketShare

EndUseCosumption_df.to_pickle("Output Files/End-User_Consumption_by_Source.pkl")

EndUseCosumption_df

In [35]:
EndUseCosumption_df

,AL,AK,AZ,AR,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
Coal,(4.3%),(1.2%),(0.7%),(0.5%),(0.5%),(0.3%),(0.0%),(0.0%),(0.0%),(0.4%),...,(1.0%),(2.4%),(0.1%),(1.4%),(0.0%),(2.7%),(0.1%),(4.7%),(1.5%),(7.3%)
Naturalgas,(23.3%),(55.8%),(10.7%),(26.2%),(24.7%),(34.2%),(25.0%),(35.0%),(28.5%),(7.3%),...,(27.3%),(19.8%),(24.8%),(30.2%),(10.8%),(18.0%),(16.7%),(35.3%),(31.2%),(39.9%)
Petroleum,(38.9%),(37.8%),(58.0%),(43.0%),(57.7%),(46.1%),(55.3%),(21.6%),(51.8%),(59.4%),...,(38.1%),(49.4%),(61.7%),(49.9%),(60.0%),(49.4%),(55.2%),(37.6%),(40.9%),(38.2%)
Renewableenergy,(11.6%),(1.6%),(3.3%),(9.3%),(3.4%),(2.3%),(2.9%),(1.7%),(1.1%),(5.1%),...,(19.6%),(5.2%),(0.9%),(1.5%),(14.8%),(5.2%),(7.5%),(3.1%),(8.9%),(1.3%)
Electricity,(21.9%),(3.5%),(27.4%),(21.0%),(13.7%),(17.0%),(16.8%),(41.6%),(18.6%),(27.7%),...,(14.0%),(23.2%),(12.5%),(16.9%),(14.3%),(24.7%),(20.5%),(19.2%),(17.5%),(13.3%)

In [57]:
#Empty dataframe to store the data 
ElectricPowerConsumption_df = pd.DataFrame(columns = states)

for state in states:

    #URL to scrape
    url = f"https://www.eia.gov/beta/states/states/{state}/overview"

    #Open url.
    browser.get(url)

    #Time to let the website load all the elements
    time.sleep(4)

    #save the html source.
    html = browser.page_source

    #Use bs4 to parse the html response.
    soup = bs(html, "html.parser")

    #List of classes to parse 
    parseClasses = ["info-coal","info-natural-gas","info-petroleum","info-renewable",'info-nuclear'] 

    for parseClass in parseClasses:

        #From the soup, the electricity generation is in the index 1.
        indexNum = 1

        #Nuclear energy is only for electricity generation. It only has 1 index = 0
        if parseClass == 'info-nuclear' :
            indexNum = 0

        yummySoup = soup.find_all("li", class_={parseClass})[indexNum].text.split()

        typeEnergy = yummySoup[0]

        marketShare = yummySoup[2]

        ElectricPowerConsumption_df.loc[typeEnergy,state] = marketShare

ElectricPowerConsumption_df.to_pickle("Output Files/Eletric_Power_Consumption_by_Source.pkl")

ElectricPowerConsumption_df

,AL,AK,AZ,AR,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
Coal,(24.7%),(18.7%),(30.5%),(48.3%),(0.0%),(52.3%),(1.2%),(0.0%),(9.6%),(15.6%),...,(21.0%),(27.1%),(29.2%),(71.7%),(0.0%),(12.4%),(5.6%),(94.1%),(54.2%),(89.8%)
Naturalgas,(34.6%),(45.6%),(27.8%),(25.1%),(39.4%),(25.8%),(40.8%),(0.0%),(83.9%),(64.0%),...,(8.4%),(13.0%),(41.9%),(17.1%),(0.0%),(43.8%),(7.9%),(1.7%),(20.9%),(0.4%)
Petroleum,(0.1%),(8.7%),(0.1%),(0.1%),(0.0%),(0.0%),(0.9%),(0.0%),(4.4%),(1.1%),...,(0.1%),(0.2%),(0.0%),(0.1%),(0.2%),(1.1%),(0.0%),(0.2%),(0.3%),(0.1%)
Renewableenergy,(8.4%),(26.9%),(11.1%),(5.2%),(48.7%),(21.8%),(5.5%),(0.0%),(2.1%),(4.3%),...,(70.6%),(12.1%),(18.2%),(11.1%),(99.8%),(6.9%),(76.9%),(4.0%),(7.8%),(9.7%)
Nuclearpower,(32.2%),(0.0%),(30.5%),(21.4%),(11.8%),(0.0%),(51.5%),(0.0%),(0.0%),(15.1%),...,(0.0%),(47.6%),(10.7%),(0.0%),(0.0%),(35.8%),(9.6%),(0.0%),(16.8%),(0.0%)